// 色の変数設定をします。
// TODO: テーマの名前でif分岐を実装予定

// if theme_color: hayate
$neutral_color: #403D39;
$b3_color: #525884;
$b2_color: #8091DD;
$b1_color: #C1BEF4;
$main_color: #D8E2FF;
$alert_color: #F35500;
$notice_color: #38AEF0;
$white: #fff;
$light_gray: #999;
$light_pink: #FFB6C1;
$uk-blue: #1e87f0;
$uk-black: #222;
$uk-green: #32d296;
$uk-red: #f0506e;
$maroon: #800000;

$boys-band: #CADFFE;
$girls-band: #FEDFDE
